@use '../../theme/variables' as *;
@use '../../theme/helpers' as *;

%list {
  padding: $spacing-md;
  @include col($spacing-lg);
  text-align: -webkit-center;
}
.logo {
    height: 20px;
}

.page-list {
  &-searchable {
    @extend %list;
  }

  &-favorites {
    border-top: $border-secondary;
    @extend %list;
  }
}
