@use '../../theme/variables' as *;
@use '../../theme/helpers' as *;

.page-list {
    @include col($gap);
    align-items: center;
    padding: $padding;

    &-favorites {
    @include col($gap);
    border-top: 1px solid var(--color-secondary);
    align-items: center;
    padding: $padding;
}
}