@use '../../../theme/variables' as *;
@use '../../../theme/helpers' as *;

.search {
  height: 44px;
  width: auto;
  max-width: 300px;
  position: relative;
  @include row($spacing-lg);
  padding: 0 $spacing-sm;
  border-radius: $radius-pill;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-shadow: $shadow-md, $shadow-inset;

  &-icon {
    left: $spacing-xl;
    position: absolute;
    font-size: $font-size-base;
    color: var(--color-text-secondary);
  }

  &-input {
    width: 100%;
    padding: $spacing-sm;
    padding-left: $spacing-xxl;
    font-family: $font-family;
    border: $border-secondary;
    font-size: $font-size-base;
    border-radius: $radius-pill;
    color: var(--color-text-primary);
    font-weight: $font-weight-regular;
    background-color: var(--color-primary);

    &:focus {
      background-color: var(--color-tertiary);
    }

    &::placeholder {
      color: var(--color-text-muted);
    }
  }
}
