@use '../../../theme/variables' as *;
@use '../../../theme/helpers' as *;

.search {
  @include row($gap);
  height: 44px;
  padding: 0 8px;
  border-radius: 28px;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-shadow: $shadow-md, $shadow-inset;
  position: relative;
  max-width: -webkit-fill-available;

  &-icon {
    font-size: 12px;
    position: absolute;
    left: 18px;
    color: var(--color-text-secondary);
  }

  &-input {
    width: 100%;
    border-radius: 28px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    padding: 8px 8px 8px 28px;
    color: var(--color-text-primary);
    font-weight: 400;
    font-size: $font-size;
    font-family: $font-family;

    &:focus {
      background-color: var(--color-tertiary);
    }

    &::placeholder {
      color: var(--color-text-muted);
    }
  }
}
