:root {
  --color-primary: #F9EBDD;
  --color-secondary: #BFA873;
  --color-tertiary: #FFF6ED;

  // Text
  --color-text-primary: #3B2F2F;
  --color-text-secondary: #6E5F52;

  // Accent
  --color-accent-primary: #9BBFAC;
  --color-accent-secondary: #CFE3D9;
  --color-accent-tertiary: #7FAF97;

  // Status
  --color-success-primary: #9CE7AA;
  --color-success-secondary: #E6FAEC;

  --color-danger-primary: #D88387;
  --color-danger-secondary: #F6D6D8;

  // Favorites
  --color-favorite-active: #FFD99C;
  --color-favorite-inactive: #F6F6F6;
}
