:root {
  --color-primary: #F9EBDD;
  --color-secondary: #BFA873;
  --color-tertiary: #f8f6f3;

  // Text
  --color-text-primary: #3B2F2F;
  --color-text-secondary: #6E5F52;

  // Status
  --color-success-primary: #77b092;
  --color-success-secondary: #CFE3D9;

  --color-danger-primary: #D88387;
  --color-danger-secondary: #F6D6D8;
}
