@mixin round($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}

@mixin row($gap: 0) {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: $gap;
}

@mixin col($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin media($min: null, $max: null) {
    @if $min and $max {
      @media (min-width: #{$min}) and (max-width: #{$max}) {
        @content;
      }
    } @else if $min {
      @media (min-width: #{$min}) {
        @content;
      }
    } @else if $max {
      @media (max-width: #{$max}) {
        @content;
      }
    } @else {
      @content;
    }
  }