// Typography
$font-family:
  ui-sans-serif,
  system-ui,
  -apple-system,
  Segoe UI,
  Roboto,
  Helvetica,
  Arial;
$font-size: 12px;

// Spacing
$gap: 16px;
$padding: 12px;


// Borders
$radius: 12px;
$radius-pill: 28px;

// Shadows
$shadow-md: 0px 0px 2px 4px rgba(0, 0, 0, 0.1);
$shadow-lg: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
$shadow-inset: inset 0 1px 0 rgba(255, 255, 255, 0.1);
