@use './theme/colors';
@use './theme/variables' as *;

body {
  margin: 0;
  font-size: $font-size-base;
  font-family: $font-family;
  color: var(--color-text-primary);
  font-weight: $font-weight-regular;
  background-color: var(--color-tertiary);
}

*:focus-visible {
  outline: none !important;
}
