@use './theme/colors';
@use './theme/variables' as *;

body {
  font-weight: 400;
  font-size: $font-size;
  margin: 0;
  font-family: $font-family;
  color: var(--color-text-primary);
  background-color: var(--color-tertiary);
}

*:focus-visible {
  outline: none !important;
}
