@use '../../../theme/variables' as *;
@use '../../../theme/helpers' as *;

.card {
  width: auto;
  max-width: 600px;
  padding: $spacing-md;
  border: $border-primary;
  border-radius: $radius;
  box-shadow: $shadow-lg;
  font-size: $font-size-md;
  @include row($spacing-lg);
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  background-color: var(--color-primary);


  &-content {
    flex-grow: 1;
    min-width: 0;
    @include col($spacing-lg);
    justify-content: space-between;
    
    @include media(425px) {
      @include row($spacing-lg, flex-start);
    }
  }

  &-info-header {
    flex: 1 0 0;
    min-width: 0;
    @include row($spacing-lg, flex-start);
  }

  &-info-data {
    width: auto;
    flex: 0 0 auto;
    @include row($spacing-lg, flex-start);
  }

  
  &-label {
    text-align: left;
    font-size: $font-size-sm;
    font-weight: $font-weight-regular;
    color: var(--color-text-secondary);
  }
  
  &-header {
    min-width: 0;
    @include col($spacing-xs);

    &-img {
      @include round(50px);
    }


    &-title {
      @include truncate();
      font-size: $font-size-md;
      font-weight: $font-weight-bolder;
    }
  }

  &-data {
    @include col($spacing-xs);

    &-icon {
      @include row($spacing-xs);
      font-size: $font-size-sm;

      &.up {
        color: var(--color-success-primary);
        & > .fa-caret-up {
          transform: translateY(1px);
        }
      }

      &.down {
        color: var(--color-danger-primary);
      }
    }
  }

  &-action {
    @include row();
    @include round(32px);
    cursor: pointer;
    justify-content: center;
    font-size: $font-size-lg;
    color: var(--color-secondary);
    background-color: var(--color-tertiary);

    &.active {
      & > .fa-star {
        font-weight: $font-weight-bolder;
      }
    }
  }
}
   
