@use '../../../theme/variables' as *;
@use '../../../theme/helpers' as *;

.card {
  font-weight: 500;
  @include row($gap);
  padding: $padding;
  border-radius: $radius;
  width: 600px;
  box-shadow: $shadow-lg;
  justify-content: space-between;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  text-transform: uppercase;
  font-size: 14px;
  min-width: 0;

  &-content {
    @include row($gap);
    flex: 1 1 0;
    justify-content: space-between;
    
      @include media($max: 425px) {
        @include col($gap);
        align-items: flex-start;
      }
  }

  &-info {
    @include row($gap);
    align-items: flex-start;
    min-width: 0;
  }

  
  &-img {
    @include round(50px);
  }
  
  &-header {
    @include col(2px);
    min-width: 0;

    &-label {
      font-size: 10px;
      font-weight: 400;
      color: var(--color-text-secondary);
      &-content {
        @include row($gap);
        align-items: baseline;
      }
    }

    &-title {
      font-size: 15px;
      font-weight: 700;
      @include truncate();
    }
  }

  &-data {
    @include col(2px);

    &-icon {
      @include row(2px);
      font-size: 10px;

      &.up {
        color: var(--color-success-primary);
        & > .fa-caret-up {
          transform: translateY(1px);
        }
      }

      &.down {
        color: var(--color-danger-primary);
      }
    }
  }

  &-action {
    @include row();
    @include round(32px);
    cursor: pointer;
    font-size: 18px;
    flex: 0 0 auto;
    justify-content: center;
    color: var(--color-secondary);
    background-color: var(--color-tertiary);

    &.active {
      & > .fa-star {
        font-weight: 600;
      }
    }
  }
}
